# Puerto de tu API
PORT=3000

# Configuración de correo
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=hozkar178@gmail.com
EMAIL_PASS=vcjp tjdr csee dxvt
EMAIL_FROM="SafeCity <hozkar178@gmail.com>"
FRONTEND_URL=http://localhost:3000
NODE_ENV=production

# Configuración de MinIO
MINIO_ENDPOINT=91.98.136.146
MINIO_PORT=9000
MINIO_ACCESS_KEY=sc_user_minio
MINIO_SECRET_KEY=ja3k6ewxvahdog1n
MINIO_BUCKET=safecitybucket

# URL pública para alojar archivos
EXTERNAL_FILE_SERVER_URL=http://91.98.136.146:9000
